<div class="center hero-unit">
<body>
  <h1>Canvi</h1>

  <h2>
    This is the directory page.  This is our initial introductory version of our software.  Here you will find all listings published artists.  At the top you will see six different art categories: music, film, literature, photography, painting and drawing, and design and sculpture.  Search individually per each different category above; or search here on the main page for an array of different category posts.  Please make your selection.  At this time you will find posts from other creative people interested in providing a service for others who are looking for similar work.  We're here to fasciliate the creative process by connecting others, with interest in also providing a tool for collaborating on a creative project, and ultimately creating what you love to create- cheers.
  </h2>
  <h3>
<a class="twitter-timeline" href="https://twitter.com/TheCanvi" data-widget-id="445787533142548480">Tweets by @TheCanvi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </h3>


</div>

