<div class="center hero-unit">
<body>
  <h1>Canvi</h1>

  <h2>
    This is the directory page.  This is our initial introductory version of our software.  These are listings published by artists which are broadcasted on our Twitter profiles.  At the top you will see six different art categories: music, film, literature, photography, painting and drawing, and design and sculpture.  Search individually per each different category above; or search here on the main page for an array of different category posts.  Please make your selection.  At this time you will find posts from other creative people interested in providing a service to others.  We're here to fasciliate the creative process by connecting others, by providing a tool for collaborating on a creative project, and ultimately creating what you love to create- cheers.
  </h2>
  <h3>

  </h3>


</div>

