<div class="center hero-unit">
  <h1>Welcome to The Canvi</h1>

  <h2>
    This is the directory page.
  </h2>

  <%= link_to "Request Your Invitation", '#', class: "btn btn-large btn-primary" %>
</div>

