<div class="center hero-unit">
  <h1>#Music</h1>

  <h2>
    This is the directory page for #music.  Here you will find all listings published by artists associated with music.  At the top you will see six different art categories: music, film, literature, photography, painting and drawing, design and sculpture.  Search above for your creative help.  Please select your interest.  These are posts for connecting with others, with intention on collaborating on a creative project, and ultimately creating what you love to create- cheers.
  </h2>
  <h3>
<a class="twitter-timeline" href="https://twitter.com/TheCanviMusic" data-widget-id="445783943338409984">Tweets by @TheCanviMusic</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  </h3>


</div>
